/* Query Sizes */
$bp-largest: 75em;
$bp-large: 68.75em;
$bp-medium: 56.25em;
$bp-small: 37.5em;
$bp-smallest: 31.25em;

/* Colors */
$yellow-light1: #F7CA85;
$yellow: #F6C272;
$yellow-dark1: #F3AF49;
$blue-light2: #77CBE2;
$blue-light1: #61C2DD;
$blue: #49BAD9;
$blue-dark1: #2DAED2;
$green: #9CCB65;
$red: #F35050;
$red-dark1: #F02929;
$darkBlue: #3F569A;
$darkGrey: darkslategrey;
$light: #fff;