.logo {
    width: 35rem;
    &__img {
        width: 100%;
    }
}

.free-key {
    width: 16rem;
    position: fixed;
    top: 3rem;
    right: 5rem;
    transform: rotate(15deg);
    z-index: 999;
    transition: all 0.1s ease-in-out;
    &__img {
        width: 100%;
    }
    &:hover {
        width: 17rem;
    }
}

@media only screen and (max-width: $bp-large) {
    .free-key {
        width: 14rem;
        &:hover {
            width: 14.5rem;
        }
    }
}

@media only screen and (max-width: $bp-medium) {
    .free-key {
        width: 12rem;
        top: 2rem;
        right: 3rem;
        &:hover {
            width: 12.5rem;
        }
    }
}

@media only screen and (max-width: $bp-small) {
    .logo {
        width: 80%;
    }
    .free-key {
        width: 8rem;
        top: 1rem;
        right: 1rem;
        &:hover {
            width: 8.5rem;
        }
    }
}