.navbar {
    background-color: rgba(255, 255, 255, 0.2);
    position: sticky;
    top: 0rem;
    z-index: 120;
    
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__list_wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: $bp-smallest) {
            flex-wrap: wrap;
        }
    }

    &__item {
        list-style-type: none;
        position: relative;
        margin: 0;
        font-size: 1.4em;
        padding: 1.5rem 3rem;
        text-transform: uppercase;
        background-color: transparent;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

        &.disable {
            color: rgba(255, 255, 255, 0.4);
        }

        &:not(.disable):hover {
            background-color: rgba(255, 255, 255, 0.3);
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 1em;
            padding: 1.2rem 2rem;
        }
        @media only screen and (max-width: $bp-smallest) {
            font-size: 0.8em;
            padding: 1rem 0.9rem;
        }

        @media only screen and (min-width: $bp-smallest) {
            &::before {
                content: "";
                position: absolute;
                background-image: url("../../img/boomerang.png");
                background-size: cover;           
                width: 1.5em;
                height: 1.5em;
                left: 0.8rem;
                bottom: 15rem;
                opacity: 0;
                transform: rotate(500deg);
                transition: all 0.5s cubic-bezier(.54,-0.29,.36,1.38);

                &.navbar__icon {
                    width: 1.4em;
                    height: 1.4em;
                }
            }

            &:hover::before {
                bottom: 1.7rem;
                transform: rotate(-130deg);
                opacity: 1;

                @media only screen and (max-width: $bp-small) {
                    bottom: 1.4rem;
                    left: 0.4rem;
                }
            }
        }
    }

    &__icon {
        padding: 0.5rem 3rem;

        & i {
            font-size: 2em;
            margin-top: 0.8rem;
        }

        // &:not(.disable):hover {
        //     background-color: transparent;
        //     animation: fade_loop 1s;
        //     animation-iteration-count: infinite;
        // }

        @media only screen and (max-width: $bp-small) {
            font-size: 1.1em;
            padding: 0.3rem 2rem;
        }
        @media only screen and (max-width: $bp-smallest) {
            font-size: 0.9em;
            padding: 0.2rem 0.9rem;
        }
    }
}
