.wrapper {
    position: relative;
}

.parallax-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 8px;
            perspective: 8px;
    -webkit-perspective-origin: 0%;
            perspective-origin: 0%;
}

/* back bush */
.foreground__image.bush_back {
    bottom: 0rem;
    height: 35rem;
    width: auto;
    transform: translateZ(2.2px) scale(0.7);
}

/* mailing list call */
.foreground__image#section_mailing_list {
    bottom: 12vh;
    width: 100%;
    z-index: 200;
    transform: translateZ(5px) scale(0.375);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: end;
    padding: 0 1rem;
}

#section_mailing_list .kangaroo {
    margin-top: 2rem;
    max-width: 70%;
}

/* front bush */
.foreground__image.bush_front {
    z-index: 201;
    height: 35rem;
    width: auto;
}
