.wrapper {
    position: relative;
}

.parallax-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 8px;
    perspective-origin: 0%;
}