.home {
    display: flex;
    justify-content: flex-start;
    max-height: 160rem;
    overflow-y: hidden;
    overflow-x: hidden;

    &__background {
        transform-origin: 0 50%;
        transform: translateZ(0px) scale(1);
        min-height: 120rem;
        position: relative;
        object-fit: cover;
        filter: blur(5px);
        width: 100%;
        

        @media only screen and (max-width: $bp-large) {
            min-height: 140rem;
            width: 160%;
        }

        @media only screen and (max-width: $bp-medium) {
            min-height: 160rem;
        }

        @media only screen and (max-width: $bp-small) {
            min-height: 180rem;
        }

        @media only screen and (max-width: $bp-tiny) {
            min-height: 140rem;
        }

    }

    &__foreground {
        position: absolute;
        min-width: 20rem;
        width: 85%;
        transform-origin: 0% 50%;
        z-index: 50;
        transform: translateZ(2px) scale(0.7);
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        margin-top: -10rem;

        @media only screen and (max-width: $bp-large) {
            padding: 1rem;
            width: 95%;
        }

        @media only screen and (max-width: $bp-medium) {
            margin-top: -20rem;
        }

        @media only screen and (max-width: $bp-small) {
            margin-top: -10rem;
        }
    }

    &__hero {
        min-width: 60%;
        padding: 3rem;
        display: flex;

        @media only screen and (max-width: $bp-large) {
            flex-wrap: wrap;
            top: -10rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            padding: 0rem;
        }

        &__text {
            min-width: 55%;
        }

        &__title {
            color: $light;
            font-size: 4em;
            line-height: 1.1em;

            @media only screen and (max-width: $bp-smallest) {
                font-size: 3em;
            }
        }
    
        &__subtitle {
            margin-top: 1rem;
            color: $light;
            line-height: 1.1em;
            font-size: 2.5em;

            @media only screen and (max-width: $bp-smallest) {
                font-size: 2em;
            }
        }

        &__img {
            padding: 2rem;
            min-width: 40%;
            transform: rotateZ(-4deg);

            @media only screen and (max-width: $bp-smallest) {
                padding: 0;
            }

            & img {
                border: white solid 1rem;
                margin-top: 2rem;
                filter: drop-shadow(1rem 1rem 1rem rgba(0, 0, 0, 0.4));
                width: 100%;

                @media only screen and (max-width: $bp-large) {
                    margin-top: -4rem;
                    border: white solid 0.7rem;
                    max-width: 50rem;
                }

                @media only screen and (max-width: $bp-medium) {
                    margin-top: -8rem;
                    border: white solid 0.5rem;
                    max-width: 40rem;
                }

                @media only screen and (max-width: $bp-small) {
                    margin-top: -4rem;
                }
            }

        }
    }

    &__mailing_list {
        position: relative;
        margin-right: auto;
        width: 50%;
        margin-top: 10rem;
        z-index: 200;

        @media only screen and (max-width: $bp-medium) {
            margin-top: 4rem;
            width: 100%;
        }
    }

    &__front_bush {
        width: 100%;
        min-width: 100rem;
        max-width: 140rem;
        z-index: 70;
        position: absolute;
        bottom: -0.5rem;
        right: 0;
    }

    &__kangaroo {
        max-width: 60rem;
        width: 35%;
        max-height: 90vh;
        height: auto;
        z-index: 60;
        position: absolute;
        right: 15rem;
        bottom: 0;
        display: flex;
        justify-content: center;

        @media only screen and (max-width: $bp-huge) {
            right: 20rem;
            max-width: 100rem;
        }

        @media only screen and (max-width: $bp-largest) {
            right: 10rem;
            max-width: 100rem;
        }

        @media only screen and (max-width: $bp-large) {
            right: 6rem;
            max-width: 40rem;
        }

        @media only screen and (max-width: $bp-medium) {
            max-width: 60rem;
            right: 0;
            width: 100%;
            bottom: -6rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            bottom: 0rem;
        }

        & #kangaroo {
            width: 100%;
            object-fit:contain;
            transform: translateY(800px);
            transition: transform 0.5s cubic-bezier(.9,.01,.78,1.19);
            transition-delay: 0.5s;

            @media only screen and (max-width: $bp-medium) {
                width: 70%;
            }

            @media only screen and (max-width: $bp-tiny) {
                width: 85%;
            }
        }
    }
}

#section_hero {
    display: flex;
    justify-content: center;
}
